.btnaddFirma{
  background-color: #218f8b;
}

.iconSize{
  font-size: 40px;
}

.drag-area{
  border: 2px dashed #218f8b;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

label{
  margin-top: 20px;
  margin-bottom: 5px;
}

.subtitle_cert{
  font-size: 18px;
}

.label-certif{
  font-weight: bold;
}

.btn-send{
  margin-top: 20px;
  background-color: #218f8b!important;
}

.rubrica_input{
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 55%;
  left: 0;
}

.certif_input{
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute
}
