<div class="text-white appbar_firmas">
  <div class="row justify-content-between px-5" >
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 align-items-start">
      <div class="row ">
        <fa-icon [icon]="bars" class="icon_appbar"   ></fa-icon>
        <span class="text-white" style="width: fit-content; padding-top: 7px">VisionSign - BDO OUTSOURCING S.A.C.</span>
      </div>
    </div>
    <div class="col-3 d-flex d-sm-none d-md-block text-end">
      <div>
        <fa-icon [icon]="toggleOff" class="icon_appbar" ></fa-icon>
        <span class="px-3"> Daniel </span>
        <span class="rounded-circle text-center avatar_icon"> DS </span>
      </div>
    </div>
  </div>
</div>
